/*
Breakpoints
xs: 25rem -> ~400px
sm: 36rem -> ~576px
md: 48rem -> ~768px
lg: 62rem -> ~992px
xl: 80rem -> ~1280px
*/

:root {
  /* Colors */
  --color-primary: hwb(216 0% 20%);
  --color-accent: hwb(357 35% 1%);
  --color-dark: hwb(216 0% 98%);
  --color-light: hwb(216 98% 0%);
  --color-light-blue: hwb(216 90% 0%);
  --color-gray: hwb(216 83% 13%);
  --color-white: #fff;
  /* Sizes */
  --size-fluid-base: clamp(1.125rem, 0.3409vw + 1.0398rem, 1.3125rem);
  --size-200: 0.5rem;
  --size-300: 0.8rem;
  --size-400: 1rem;
  --size-500: 1.2rem;
  --size-600: 1.4rem;
  --size-700: 1.7rem;
  --size-800: 2rem;
  --size-900: 2.4rem;
  --size-1200: 3.9rem;
  /* Padding */
  --padding-sm: clamp(var(--size-400), 5%, var(--size-500));
  --padding-md: clamp(var(--size-500), 7%, var(--size-600));
  --padding-lg: clamp(var(--size-600), 8%, var(--size-700));
  --padding-xl: clamp(var(--size-800), 10%, var(--size-900));
  /* Measures */
  --width-md: min(65ch, var(--min-width, 94vw));
  --width-lg: min(80ch, var(--min-width, 94vw));
  /* Border radius */
  --radius: 7px;
  --radius-pill: 1em;
  --radius-round: 50%;
}

html {
  font-size: var(--size-fluid-base);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding-bottom: var(--size-900);
  overflow-x: hidden;
}

p + p {
  margin-block-start: var(--size-300);
}

h1 {
  font-size: var(--size-1200);
}

h2 {
  font-size: var(--size-900);
}

h3 {
  font-size: var(--size-800);
}

h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-block-start: var(--size-400);
}

:target {
  scroll-margin-top: var(--size-300);
}

main {
  display: block;
  margin-block-start: var(--size-900);
  margin-block-end: var(--size-900);
}

a {
  display: inline-block;
}

nav a,
.header-anchor {
  color: inherit;
  text-decoration: none;
}

[role="list"] {
  margin-block: 0;
  padding-inline-start: 0;
}

hr {
  border: 0;
  border-bottom: 2.5px dashed var(--color-primary);
}