/*
Breakpoints
xs: 25rem -> ~400px
sm: 36rem -> ~576px
md: 48rem -> ~768px
lg: 62rem -> ~992px
xl: 80rem -> ~1280px
*/

:root {
  /* Colors */
  --color-primary: hwb(216 0% 20%);
  --color-primary-darker: hwb(216 0% 30%);
  --color-primary-transparent: hwb(216 0% 20% / 0.8);
  --color-accent: hwb(357 35% 1%);
  --color-light-accent: hwb(357 90% 0%);
  --color-dark: hwb(216 0% 98%);
  --color-light: hwb(216 98% 0%);
  --color-light-blue: hwb(216 90% 0%);
  --color-gray: hwb(216 83% 13%);
  --color-white: #fff;
  --gradient-primary: linear-gradient(180deg, hwb(216 0% 20%) 0%, hwb(216 0% 25%) 12.5%, hwb(216 0% 29%) 25%, hwb(216 0% 35%) 37.5%, hwb(216 0% 39%) 50%, hwb(216 0% 44%) 62.5%, hwb(216 0% 44%) 75%, hwb(216 0% 39%) 87.5%, hwb(216 0% 35%) 100%);
  /* Sizes */
  --size-font-base: 112.5%;
  --size-100: 0.2rem;
  --size-200: 0.5rem;
  --size-300: 0.8rem;
  --size-400: 1rem;
  --size-500: 1.2rem;
  --size-600: 1.4rem;
  --size-700: 1.7rem;
  --size-800: 2rem;
  --size-900: 2.4rem;
  --size-1200: 3.9rem;
  /* Padding */
  --padding-sm: var(--size-500);
  --padding-md: var(--size-600);
  --padding-lg: var(--size-700);
  --padding-xl: var(--size-900);
  --padding-xxl: var(--size-1200);
  /* Measures */
  --width-md: min(65ch, 85vw);
  /* Border radius */
  --radius: 7px;
  --radius-pill: 1em;
  --radius-round: 50%;
}

html {
  font-size: var(--size-font-base);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

p + p {
  margin-block-start: var(--size-300);
}

h1 {
  font-size: var(--size-1200);
}

h2 {
  font-size: var(--size-900);
}

h3 {
  font-size: var(--size-700);
}

h4 {
  font-size: var(--size-500);
}

h1,
h2,
h3,
h4 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-block-start: var(--size-700);
}

:target {
  scroll-margin-top: var(--size-300);
}

main {
  display: block;
  min-height: 100vh;
}

a {
  display: inline-block;
}

[role="list"] {
  margin-block: 0;
  padding-inline-start: 0;
}

hr {
  border: 0;
  border-bottom: 2.5px dashed var(--color-primary);
}

article blockquote {
  margin-block: 1em;
  padding-block: 1em;
  padding-inline: 2em;
  border-inline-start: 20px solid var(--color-primary);
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  background-color: var(--color-light-blue);
}

@media(max-width: 64ch) {
  article blockquote {
    margin-inline: -7.5vw;
    border-start-end-radius: 15%;
    border-end-end-radius: 15%;
  }
}