.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.flex-column {
  flex-direction: column;
}