.flow > * + * {
  margin-block-start: var(--flow-space, var(--size-400));
}

.flow-sm > * + * {
  margin-block-start: var(--size-200);
}

.flow-md > * + * {
  margin-block-start: var(--size-700);
}

.flow-lg > * + * {
  margin-block-start: var(--size-900);
}