.wrapper {
  margin-inline: auto;
  width: var(--width-md);
}

.wrapper.padding-block-md {
  padding-block: var(--padding-md);
}

.wrapper.padding-block-xxl {
  padding-block: var(--padding-xxl);
}

.wrapper .full-width {
  /* https://css-tricks.com/full-width-containers-limited-width-parents/ */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}