.wrapper {
  margin-inline: auto;
  width: var(--wrapper-width, var(--width-md));
  padding-block: var(--wrapper-padding-block, var(--padding-sm));
  padding-inline: var(--wrapper-padding-inline, var(--padding-md));
}