.auto-toc ul {
  list-style-type: "⚡ ";
}

.contents {
  background-color: var(--color-light-blue);
  padding-inline: var(--padding-sm);
  padding-block: var(--size-200);
  border-radius: var(--radius);
}