.contents {
  background-color: var(--color-light-blue);
  margin-block-end: var(--size-400);
  padding-inline: var(--padding-sm);
  padding-block: var(--size-200);
  border-radius: var(--radius);
}

.contents ul {
  margin-block: 0;
  padding-inline-start: var(--padding-sm);
}