.button {
  padding-block: var(--size-100);
  padding-inline: var(--size-300);
  background-color: var(--color-primary-transparent);
  border: 2px solid var(--color-primary-darker);
  border-radius: var(--radius-pill);
  text-decoration: none;
  color: var(--color-light);
  min-width: 15ch;
  text-align: center;
}

.button:active {
  background-color: var(--color-primary-darker);
}

.button.button-primary {
  background-color: var(--color-primary-transparent);
  border: 2px solid var(--color-primary-darker);
  color: var(--color-light);
}

.button.button-primary:active {
  background-color: var(--color-primary-darker);
}

.button.button-accent {
  background-color: var(--color-accent-transparent);
  border: 2px solid var(--color-accent-darker);
  color: var(--color-dark);
}

.button.button-accent:active {
  background-color: var( --color-accent-darker);
}