.post-list > li {
  padding-inline: var(--padding-sm);
  padding-block: var(--padding-md);
  flex: 1 1 25ch;
  outline: 2.5px dashed var(--color-primary);
  border-radius: var(--radius-pill);
  background-color: var(--color-light-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-400);
}

.post-list__tags ul {
  row-gap: var(--size-100);
  column-gap: var(--size-200);
}